
@{
    Layout = "_MainLayout";
}
@model ManageIt.Web.Models.ViewModels.User.LoginViewModel

<main class="main-content col">
    <div class="container-fluid px-4 my-auto h-100">
        <div class="row no-gutters h-100">
            <div class="col-lg-3 col-md-5 auth-form mx-auto my-auto padding-single-center-panel">
                <div class="card">
                    <div class="card-body">
                        <h5 class="auth-form__title text-center mb-4">Login</h5>
                        @using (Html.BeginForm("Login", "Auth", null, FormMethod.Post))
                        {
                            @Html.AntiForgeryToken()
                            @Html.ValidationMessage("InvalidCredentials")
                            <div class="form-group">
                                @Html.LabelFor(model => model.Email)
                                @Html.TextBoxFor(model => model.Email, new { @class = "form-control", @type = "email", @placeholder = "johnsmith@example.com" })
                                @Html.ValidationMessageFor(m => m.Email)
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.Password)
                                @Html.TextBoxFor(model => model.Password, new { @class = "form-control", @type = "password", @placeholder = "Enter password" })
                                @Html.ValidationMessageFor(m => m.Password)
                            </div>
                            <button type="submit" class="btn btn-pill btn-accent d-table mx-auto">Login</button>
                        }
                    </div>
                </div>
                <div class="auth-form__meta d-flex mt-4">
                    <a href="@Url.Action("ForgotPassword", "Auth")">Forgot your password?</a>
                    <a class="ml-auto" href="@Url.Action("Register", "Auth")">Create new account?</a>
                </div>
            </div>
        </div>
    </div>
</main>