
@{
    Layout = "_MainLayout";
    ViewData["Title"] = "Login";
}

@model ManageIt.Web.Models.ViewModels.User.RegisterViewModel

<main class="main-content col">
    <div class="container-fluid px-4 my-auto h-100">
        <div class="row no-gutters h-100">
            <div class="col-lg-3 col-md-5 auth-form mx-auto my-auto padding-single-center-panel">
                <div class="card">
                    <div class="card-body">
                        <!--<img class="auth-form__logo d-table mx-auto mb-3" src="images/shards-dashboards-logo.svg" alt="Shards Dashboards - Register Template">-->
                        <h5 class="auth-form__title text-center mb-4">Create New Account</h5>
                        @using (Html.BeginForm("Register", "Auth", null, FormMethod.Post))
                        {
                            @Html.AntiForgeryToken()
                            <div class="form-group">
                                @Html.LabelFor(model => model.Email)
                                @Html.TextBoxFor(model => model.Email, new { @class = "form-control" , @type = "email", @placeholder = "johnsmith@example.com" })
                                @Html.ValidationMessageFor(m => m.Email)
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.FirstName)
                                @Html.TextBoxFor(model => model.FirstName, new { @class = "form-control", @placeholder = "John" })
                                @Html.ValidationMessageFor(m => m.FirstName)
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.LastName)
                                @Html.TextBoxFor(model => model.LastName, new { @class = "form-control", @placeholder = "Smith" })
                                @Html.ValidationMessageFor(m => m.LastName)
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.Password)
                                @Html.TextBoxFor(model => model.Password, new { @class = "form-control", @type = "password", @placeholder = "Enter password" })
                                @Html.ValidationMessageFor(m => m.Password)
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.RepeatedPassword)
                                @Html.TextBoxFor(model => model.RepeatedPassword, new { @class = "form-control", @type="password", @placeholder = "Repeat password" })
                                @Html.ValidationMessageFor(m => m.RepeatedPassword)
                            </div>
                            <div class="form-group mb-3 d-table mx-auto">
                                <div class="custom-control custom-checkbox mb-1">
                                    <input type="checkbox" class="custom-control-input" id="customCheck2">
                                    <label class="custom-control-label" for="customCheck2">I agree with the <a href="#">Terms &amp; Conditions</a>.</label>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-pill btn-accent d-table mx-auto">Create Account</button>
                        }
                    </div>
                </div>
                <div class="auth-form__meta d-flex mt-4">
                    <a href="@Url.Action("ForgotPassword", "Auth")">Forgot your password?</a>
                    <a class="ml-auto" href="@Url.Action("Login", "Auth")">Sign in?</a>
                </div>
            </div>
        </div>
    </div>
</main>